$react-blue: #61dafb;
$dark-gray: rgba(0, 0, 0, 0.8);

.intro {
    margin-top: -53px;
    text-align: center;
    background-color: $dark-gray;
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    display: flex;
    flex-direction: column;

    .text {
        h1 {
            font-size: 5rem;
            margin: 0;
            font-weight: 200;

            span {
                margin-right: 1rem;
                color: $react-blue;
                font-weight: 600;
            }
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .logo {
            animation: logo-spin infinite 15s linear;
        }
    }

    @keyframes logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    p {
        font-size: 1.2rem;
    }
}

.scroll-downs {
    position: absolute;
    top: 75%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid $dark-gray;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: $dark-gray;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
